<table class="table table-borderless">
    <thead>
      <tr>
        <th class="table-row">Employee ID</th>
        <th class="table-row">Employee Name</th>
        <th class="table-row">Category</th>
        <th class="table-row">RM ID</th>
        <th class="table-row">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let details of employees; index as i"> 
        <td class="table-row">{{details.emp_id}}</td>
        <td class="table-row">{{details.emp_name}}</td>
        <td class="table-row">{{details.emp_category}}</td>
        <td class="table-row" *ngIf="details.rm != null; else elseBlock">{{details.rm}}</td>
        <ng-template #elseBlock>
          <td>-</td>
        </ng-template>
        <td class="table-row"><button (click)="deleteEmp(i)"><i class="bi bi-trash"></i></button></td>
      </tr>
    </tbody>
  </table>