<div class="main">
    <div class="top-bar">
        <img class="logo" src="../../assets/logo.svg" alt="maplelabs">
        <i class="bi bi-box-arrow-right"></i>
    </div>
    <div class="main-page">
        <div class="side-bar">
            <div class="emp-details">
                <div class="user-img">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="list">
                    <p class="name">Shiva Pranav S</p>
                    <p class="role">Intern</p>
                </div>
            </div>
        </div>
        <div class="right-page">
            <app-inbox></app-inbox>
        </div>
    </div>
</div>