<div class="main">
    <div class="top-bar">
        <img class="logo" src="../../assets/logo.svg" alt="maplelabs">
        <i class="bi bi-box-arrow-right"></i>
    </div>
    <div class="main-page">
        <div class="side-bar">
            <div class="emp-details">
                <div class="user-img">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="list">
                    <p class="name">Shiva Pranav S</p>
                    <p class="role">Intern</p>
                </div>
            </div>
            <div class="side-bar-items mt-5">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div>
                            <i class="bi bi-grid mt-1"></i>
                        </div>
                        <div>
                            <a class="nav-link active" href="/dashboard">Inbox</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <i class="bi bi-person-vcard mt-1"></i>
                        </div>
                        <div>
                            <a class="nav-link" href="/dashboard">Employee</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <i class="bi bi-person-square mt-1"></i>
                        </div>
                        <div>
                            <a class="nav-link" href="/dashboard">Candidate</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <i class="bi bi-calendar-date mt-1"></i>
                        </div>
                        <div>
                            <a class="nav-link" href="/dashboard">Calendar</a>
                        </div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="right-page">
            <app-inbox></app-inbox>
        </div>
    </div>
</div>