<div class="main">
    <div class="top-bar">
        <img class="logo" src="../../assets/logo.svg" alt="maplelabs logo">
        <i class="bi bi-box-arrow-right" routerLink="/auth" routerLinkActive="active"></i>
        <i class="bi bi-person">{{user.user_role}}</i>
    </div>
    <div class="main-page">
        <div class="side-bar">
            <div class="emp-details">
                <div class="user-img">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="list">
                    <p class="name">{{user.name}}</p>
                    <p class="role">{{user.user_role}}</p>
                </div>
            </div>
            <div class="side-bar-items mt-5">
                <ul class="nav flex-column">
                    <li class="nav-item" (click)="displayInbox()" [ngClass]="{'highlight': showInbox === true}">
                        <div>
                            <i class="bi bi-grid"></i>
                        </div>
                        <div>
                            <a class="nav-link">Inbox</a>
                        </div>
                    </li>
                    <li class="nav-item" (click)="displayEmployee()" [ngClass]="{'highlight': showEmployee === true}">
                        <div>
                            <i class="bi bi-person-vcard"></i>
                        </div>
                        <div>
                            <a class="nav-link">Employee</a>
                        </div>
                    </li>
                    <li class="nav-item" (click)="displayCandidate()" [ngClass]="{'highlight': showCandidate === true}">
                        <div>
                            <i class="bi bi-person-square"></i>
                        </div>
                        <div>
                            <a class="nav-link">Candidate</a>
                        </div>
                    </li>
                    <li class="nav-item" (click)="displayCalendar()" [ngClass]="{'highlight': showCalendar === true}">
                        <div>
                            <i class="bi bi-calendar-date"></i>
                        </div>
                        <div>
                            <a class="nav-link">Calendar</a>
                        </div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="right-page">
            <app-inbox class="app app-inbox" *ngIf="showInbox"></app-inbox>
            <app-employee class="app" *ngIf="showEmployee"> </app-employee>
            <h1 class="app" *ngIf="showCandidate">Candidate</h1>
            <app-calendar  class="app app-calendar" *ngIf="showCalendar"> </app-calendar>
        </div>
    </div>
</div>