<div class="container">
    <div>
        <img class="logo" src="../../../assets/logo.svg" alt="">
    </div>
    <div class="emp-container">
        <h2 class="name">
            Shiva Pranav S
        </h2>
        <h3 class="category"> Software Engineer</h3>
        <p class="role">Employee</p>
    </div>
</div>
<div class="inbox-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li>
                <a class="nav-item" (click)="displayTraining()" [ngStyle]="{'color': showTraining ? 'black' : '#A4A4A4'}">TRAINING</a></li>
            <li>
                <a class="nav-item" (click)="displayReplies()" [ngStyle]="{'color': showReplies ? 'black' : '#A4A4A4'}">REPLIES</a>
            </li>
            <li>
                <a class="nav-item" (click)="displayRequest()" [ngStyle]="{'color': showRequest ? 'black' : '#A4A4A4'}">REQUEST</a>
            </li>
          </div>
        </div>
    </nav>
    <div class="emp-table" *ngIf="showTraining">
        <div class="table-top">
            <h2 class="table-name">Manager Status</h2>
            <div class="sort-btn">
                <button class="sort-txt">Filter & Sort</button>
                <i class="bi bi-funnel"></i>
            </div>
        </div>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" class="table-row">Manager Name</th>
                <th scope="col" class="table-row">Department</th>
                <th scope="col" class="table-row">Training</th>
                <th scope="col" class="table-row">Duration</th>
                <th scope="col" class="table-row">Deadline</th>
                <th scope="col" class="table-row">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let details of trainingStatus; index as i"> 
                <td class="table-row">{{details.managerName}}</td>
                <td class="table-row">{{details.department}}</td>
                <td class="table-row">{{details.training}}</td>
                <td class="table-row">{{details.duration}}</td>
                <td class="table-row">{{details.deadline}}</td>
                <td class="table-row">
                    <div class="status-green" *ngIf="details.status == 'Online'; else elseBlock">        
                        {{details.status}}
                    </div>
                    <ng-template #elseBlock >
                        <div class="status-red">
                            {{details.status}}
                        </div>
                    </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div *ngIf="showReplies">
        REPLIES
    </div>
    <div *ngIf="showRequest">
        REQUEST
    </div>
</div>

