.container {
    width: 80%;
    margin: 2% 8%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    display: flex;
    flex: row;
    background-color: #FFFFFF;
    cursor: default;
}

.logo {
    margin: 14% 0 0 15%;
    width: 70%;
}

.emp-container {
    margin: 1% 0 0% 2%;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 180%;
    font-family: 'Belgrano';
}

.category {
    font-size: 130%;
    font-family: 'Belgrano';
}
.role {
    font-family: 'Belgrano', serif;
    color: #A4A4A4;
}

.emp-table {
    width: 80%;
    margin: 2% 0 0 10%;
}

.navbar-nav > li{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding: 0 50%;
    margin: 0 12%;
    cursor: pointer;
}

.table-top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 2%;
    cursor: default;
}

.table-name {
    font-size: 160%;
    font-family: 'Belgrano', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.sort-btn {
    border: none;
    padding: 1% 2% 0 2%;
    background-color: #F6F6F6;
    border-radius: 8px;
    color: #1A2B88;
    font-weight: 500;
    font-family: 'Belgrano', serif;
}

.sort-txt {
    border:none;
    background-color: #F6F6F6;
}

table {
    cursor: default;
}
.table-row {
    padding: 2% 1%;
}
.table {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

thead {
    color: #A4A4A4;
}

tbody {
    font-weight: 600;
}

.status-green {
    display: inline;
    background-color: #CBEEE7;
    color: #16C098;
    font-weight: 600;
    padding: 5% 5%;
    border-radius: 6px;
}

.status-red {
    display: inline;
    background-color: #DF7373;
    color: #b70000;
    font-weight: 600;
    padding: 5% 5%;
    border-radius: 6px;
}