<div class="container">
    <div>
        <img class="logo" src="../../../assets/logo.svg" alt="">
    </div>
    <div class="emp-container">
        <h2 class="name">
            Shiva Pranav S
        </h2>
        <h3 class="category"> Software Engineer</h3>
        <p class="role">Employee</p>
    </div>
</div>
<div class="inbox-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li>
                <a class="nav-item nav-link active">TRAINING<span class="sr-only">(current)</span></a></li>
            <li>
                <a class="nav-item nav-link">REPLIES</a>
            </li>
            <li>
                <a class="nav-item nav-link">REQUEST</a>
            </li>
          </div>
        </div>
    </nav>
    <div class="emp-table">
        <div class="table-top">
            <h2 class="table-name">Manager Status</h2>
            <div class="sort-btn">
                <button class="sort-txt">Filter & Sort</button>
                <i class="bi bi-funnel"></i>
            </div>
        </div>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" class="table-row">Manager Name</th>
                <th scope="col" class="table-row">Department</th>
                <th scope="col" class="table-row">Training</th>
                <th scope="col" class="table-row">Duration</th>
                <th scope="col" class="table-row">Deadline</th>
                <th scope="col" class="table-row">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-row">{{trainingStatus.first.managerName}}</td>
                <td class="table-row">{{trainingStatus.first.department}}</td>
                <td class="table-row">{{trainingStatus.first.training}}</td>
                <td class="table-row">{{trainingStatus.first.duration}}</td>
                <td class="table-row">{{trainingStatus.first.deadline}}</td>
                <td class="table-row">
                    <div class="status-green">        
                        {{trainingStatus.first.status}}
                    </div>
                </td>
              </tr>
              <tr>
                <td class="table-row">{{trainingStatus.second.managerName}}</td>
                <td class="table-row">{{trainingStatus.second.department}}</td>
                <td class="table-row">{{trainingStatus.second.training}}</td>
                <td class="table-row">{{trainingStatus.second.duration}}</td>
                <td class="table-row">{{trainingStatus.second.deadline}}</td>
                <td class="table-row">
                    <div class="status-red">        
                        {{trainingStatus.second.status}}
                    </div>
                </td>
              </tr>
              <tr>
                <td class="table-row">{{trainingStatus.third.managerName}}</td>
                <td class="table-row">{{trainingStatus.third.department}}</td>
                <td class="table-row">{{trainingStatus.third.training}}</td>
                <td class="table-row">{{trainingStatus.third.duration}}</td>
                <td class="table-row">{{trainingStatus.third.deadline}}</td>
                <td class="table-row">
                    <div class="status-green">        
                        {{trainingStatus.third.status}}
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

