p {
    margin: 0;
}

a {
    font-family: 'Syncopate', sans-serif;
}

.navbar{
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 10%;
}

.navbar-brand {
    font-size: 40px;
}
.nav-item {
    font-size: small;
}

img {
    margin-left: 6%;
    margin-top: 4%;
    width: 30%;
    height: 70%;
}

.mainbar {
    display: flex;
    flex-direction: row;
}

.content-right {
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Belgrano';
    font-weight: 500;
    font-size: 80px;
    font-style: normal;
}
.content-2 {
    font-family: 'Belgrano';
    margin-left: 25%;
    font-size: 50px;
    font-style: normal;
    margin-top: 5%;
}
.btn {
    margin-top: 5%;
    margin-right: 20%;
    color: #EDDBC7;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Syncopate', sans-serif;
}

.btn-success {
    background-color: #83DD7E;
    border: #83DD7E;
}

.btn-danger {
    background-color: #F07E5C;
    border: #F07E5C;
}