<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">manHR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Contact</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
        </div>
      </div>
</nav>



<div class="mainbar">
    <img src="../../assets/home.svg">
    <div class="content-right">
        <div>
            <h1>Management <br>made <span style="color:#F15B35">Easier.</span></h1>
        </div>
        <div class="content-2">
            <h2>Training management and organization tool for HRs.</h2>
        </div>
        <div class="btn">
            <button type="button" class="btn btn-success">LOG IN</button>
            <button type="button" class="btn btn-danger">SIGN UP</button>
        </div>
    </div>
</div>