<table class="table table-borderless">
    <thead>
      <div class="sort-btn">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="&#61442;  Search here">
      </div>
      <br>
      <tr>
        <th class="table-row">Training Name</th>
        <th class="table-row">Session Date</th>
        <th class="table-row">Session Time</th>
        <th class="table-row">Trainer</th>
        <th class="table-row">Employees</th>
        <th>{{user.user_role == 'Intern' ? 'Nomination': 'Modify'}}</th>
        <th *ngIf="user.user_role == 'RM'">Nominate Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainings of trainingSession | filter: searchText; index as sessionIndex">
        <td class="table-row">{{trainings.training_name}}</td>
        <td class="table-row">{{trainings.session_date}}</td>
        <td class="table-row">{{trainings.session_time}}</td>
        <td class="table-row" *ngIf="trainings.trainer != null; else elseblock ">{{trainings.trainer}}</td>
        <td class="table-row"><i  class="bi bi-people" (click)="displayEmployees()"></i></td>
        <ng-template #elseblock> <td class="table-row">    - </td> </ng-template>
        <td *ngIf="user.user_role != 'Intern'" class="table-row">
          <i class="bi bi-trash mr-4" (click)="deleteTraining(sessionIndex)"></i>
          <i class="bi bi-pencil-square" (click)="displayEditform(sessionIndex)"></i>
        </td>
        <td class="table-row" *ngIf="user.user_role == 'Intern'">
          <i class="bi bi-check-lg mr-4" (click) = "sendEmpNomRequest(trainings.session_id)"></i>
        </td>
        <td class="table-row" *ngIf="user.user_role == 'RM'">
          <i class="bi bi-person-add mr-4" (click)="sendRMNomRequest(trainings.session_id, trainings.training_name)"></i>
        </td>
      </tr>
    </tbody>
</table>

<i  class="bi bi-calendar-plus" *ngIf="user.user_role == 'TM'" (click)="displayForm()"></i>
