<table class="table table-borderless">
    <thead>
      <div class="search-training">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="&#61442;  Search here">
      </div>
      <tr>
        <th scope="col" class="table-row">Session ID</th>
        <th scope="col" class="table-row">Training Name</th>
        <th scope="col" class="table-row">Session Date</th>
        <th scope="col" class="table-row">Session Time</th>
        <th scope="col" class="table-row">Created By</th>
        <th scope="col" class="table-row">Employees</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainings of trainingSession | filter: searchText">
        <td class="table-row">{{trainings.session_id}}</td>
        <td class="table-row">{{trainings.training_name}}</td>
        <td class="table-row">{{trainings.session_date}}</td>
        <td class="table-row">{{trainings.session_time}}</td>
        <td class="table-row">{{trainings.created_by}}</td>
        <td class="table-row"><i  class="bi bi-people" (click)="displayEmployees()"></i></td>
      </tr>
    </tbody>
</table>

<i  class="bi bi-calendar-plus" (click)="displayForm()"></i>