table {
    width: 90%;
    margin: 3% 0 0 3%;
}


.bi-calendar-plus {
    font-size: 250%;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.bi-calendar-plus:hover {
    cursor: pointer;
}


.edit-btn:hover {
    cursor: pointer;
}

form {
    width: 100%;
}