<form [formGroup]="trainingForm">
    <div class="form-group">
      <label>Training Name</label>
      <input type="text" formControlName="training_name" class="form-control" >
    </div>
    <div class="form-group">
        <label>Trainer</label>
        <input type="text" formControlName="trainer" class="form-control" placeholder="Trainer ID">
      </div>
    <div class="form-group">
      <label>Session Date</label>
      <input type="date" formControlName="session_date" class="form-control">
    </div>
    <div class="form-group">
      <label>Session Time</label>
      <input type="time" formControlName="session_time" class="form-control">
    </div>
    <div class="form-group">
      <label>Updated By</label>
      <input type="text" formControlName="updated_by" class="form-control">
    </div>
    <button type="submit" (click)="updateSession()" [mat-dialog-close]="true" class="btn btn-primary">Update</button>
  </form> 