<div class="main">
    <div class="logo" routerLink="/home" routerLinkActive="active">
        manHR
    </div>
    <div class="auth-box">
        <img src="../../assets/logo.svg" alt="logo.png">
        
        <form [formGroup] = "auth">
            <div class="col mt-1">
              <input type="text" class="form-control" placeholder="Email" formControlName="uname">
              <div *ngIf="(auth.controls.uname.dirty || auth.controls.uname.touched)">
                <small *ngIf="auth.controls.uname.errors?.['required']">Email is required</small>
              </div>
                <small *ngIf="auth.controls.uname.errors?.['email']">Enter valid Email</small>
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" formControlName="pass">
                <div *ngIf="auth.controls.pass.invalid && (auth.controls.pass.dirty || auth.controls.pass.touched)">
                  <small *ngIf="auth.controls.pass.errors?.['required']">Password is required</small>  
                </div>
                <small *ngIf="auth.controls.pass.errors?.['minlength']">
                    Password must be atleast of 8 characters
                </small>
            </div>
      </form>

        <div class="btn" [ngClass]="{'btn-disabled': auth.controls.uname.invalid || auth.controls.pass.invalid}">
          <button type="submit" [ngClass]="{'btn-required': auth.controls.uname.invalid || auth.controls.pass.invalid}" class="btn btn-signin" routerLink="/dashboard" routerLinkActive="active">Sign in</button>
        </div>

        <div class="or-text">
            <p> - OR -</p>
        </div>
        <div class="btn">
            <button type="button"class="btn btn-outlook" routerLink="/dashboard" routerLinkActive="active">Sign in with Outlook</button>
        </div>
    </div>
</div>