<div class="main">
    <div class="logo">
        manHR
    </div>
    <div class="auth-box">
        <img src="../../assets/logo.svg" alt="logo.png">
        <form>
              <div class="col mt-1">
                <input type="text" class="form-control" placeholder="User Name">
              </div>
              <div class="col">
                <input type="password" class="form-control" placeholder="Password">
              </div>
        </form>
        <div class="btn">
            <button type="button" class="btn btn-signin">Sign in</button>
        </div>
        <div class="or-text">
            <p> - OR -</p>
        </div>
        <div class="btn">
            <button type="button" class="btn btn-outlook">Sign in with Outlook</button>
        </div>
    </div>
</div>