.main {
    background-color: #F07E5C;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: 'Syncopate', sans-serif;
    margin-top: 20%;
    margin-left: 13%;
    font-size: 40px;
    cursor: default;
}
.auth-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 20%; 
    background-color: #EDDBC7;
    border-radius: 60px 0 0 60px;
}

img {
    width: 15%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15%;
    pointer-events: none;
}

.col {
    padding-top: 4%;
    padding-left: 30%;
    padding-right: 25%;
}

.form-control {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #EDDBC7;
    border-bottom-color: #5F5F60;
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    /* -moz-box-shadow: none; */
    -webkit-box-shadow: none;
}

.btn {
    padding: 10px 40px;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 8px;
}
.btn-signin {
    background-color: #006738;
    color: white;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.or-text {
    margin-top: 2%;
    margin-left: 50%;
    margin-right: 35%;
    color: #5F5F60;
    cursor: default;
}

.btn-outlook {
    border-color: #5F5F60;
    background-color: #EDDBC7;
}
